
/*font-family: 'Amaranth', sans-serif;
font-family: 'Titillium Web', sans-serif;*/

.wrapper{
    width: 100%;
    /*float: left;
    margin: 0 10%;
    /*background: #25717C;*/
    /*height: 768px;*/
    /*padding: 227px auto 227px auto;*/
}

/* DEFINIÇOES PADRAO*/ 
ul{
    margin-bottom: 0;
}
a{
    color: inherit;
}

h1{
    font-family: 'Amaranth', sans-serif;
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 20px;
    font-variant-caps: petite-caps
}

h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 53px;
    padding-bottom: 20px;
    color: #F2F2F2;
    font-weight: bold;
}

h3{
    font-family: 'Amaranth', sans-serif;
    font-size: 26px;
}

p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 21px;
}

body p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 21px;
}

a:link {
    color:#F2F2F2;
}  
  /* mouse over link */
a:hover {
    color: #C8898F;
}
  
  /* selected link */
a:active {
    color: #A8C6CB;
} 

#lang .fa:link {
    color:#F2F2F2;
}  
  /* mouse over link */
#lang .fa:hover {
    color: #C8898F;
}
  
  /* selected link */
  #lang .fa:active {
    color: #A8C6CB;
}
 
  /* mouse over link */
.logo:hover, .logo-mobile:hover {
    color: #C8898F;
}
  
  /* selected link */
.logo:active, .logo.mobile:hover {
    color: #A8C6CB;
}

/* MENU*/
nav{
    width: calc(100% - 60px);
    padding: 30px;
    min-height: 30px;
    /* float: left; */
    font-family: 'Amaranth', sans-serif;
}

nav li{
    width: 25%;
    /* float: left; */
    font-size: 26px;
    text-align: center;
}

#nav-desktop{
    display: flex;
    position: fixed;
    background: #25717C;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
}
#nav-mobile{
    display: none;
}

#nav-mobile li{
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 10px;
    padding-top: 10px;
}

#item-menu-mobile{
    display: none;
    color: #F2F2F2;
}

ul #social_mob {
    /* float: left; */
    display: contents;
}

nav .fa {
    color: #F2F2F2;
    font-size: 26px;
}

.logo{
    width: 300px;
    /* float: left; */
    margin: 0px 200px 0px 0px;
    color: #F2F2F2;
}

.logomob{
    width: 200px;
    margin: 50px 280px 50px 280px;
}

#conteudo-menu{
    width: calc(100% - 700px);
    /* float: left; */
    color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{
        margin-left: 20px;
    }
}

#lang{
    width:120px;
    display: flex;
    justify-content: space-around;
    color: #F2F2F2;
    padding: auto;
}

#lang li{
    width: 50%;
}

/*HOME*/
.home{
    background: url('../img/yousef-espanioly-opacity-unsplash_web.jpg') no-repeat;
    background-size: cover;
    position: relative;
    /* float: left; */
    width:100%;
    max-width: 1920px;
}

.texto_home{
    padding: 190px 170px 120px;
    color: #F2F2F2;
}

.texto_home h2{
    font-weight: normal;
}

.booking{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 175px; */
    position: absolute;
    left: 10%;
    top: 500px;
    background-color: #A8C6CB;
    margin: 0 auto -135px;
    border-radius: 5px;
    padding: 0 0 0 40px;
}

.booking div{
    width: 25%;
    /* float: left; */
    padding: 48px 10px 48px 10px;
}

.booking input{
    /* float: left; */
    border: none;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
}

.booking_mobile{
    display: none;
}

/*BOTAO BOOK NOW*/
#book{
    background: #D3A1A5;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
    font-size: 26px;
    border: none;
    border-radius: 5px;
    margin: 58px auto;
    padding: 10px 30px;
}

  /* mouse over link */
#book:hover {
    color: #F2F2F2;
    background-color: #25717C;
}
  /* selected link */
#book:active {
    color: #D3A1A5;
}

.about_home{
    width:100%;
   /* height: 500px;*/
   padding: 50px;
    margin: 0 auto;
}

/*HOME_ABOUT*/ 

.conteudo_about{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.about_home h2{
    color: #303030;
}
.conteudo_pentagon{
    width: 100%;
    /*padding: 20px 170px 80px 170px;*/
}

.pentagon{
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 0 10px 10px 10px;
    width: auto;
}

.pentagon .about_txt{
    position: absolute;
    top: 55px;
    left: 50px;
    right: 50px;
    color: #F2F2F2;
    text-align: center;
}

.foto_about h2{
    color: #303030;
    font-weight: bold;
}
.conteudo_about img{
    width: 50%;
    margin-right: 20px;
    height: auto;
}

.txt_about{
    width: 45%;
}
.pentagon_about{
    /*float: left;*/
    margin: 0px 0px 30px 0px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.ultimo_pentagon .pentagon{
    width: calc(33% - 20px);
    text-align: center;
}
.pentagon img{
    width: 330px;
    height: 310px;
}

/*HOME_BLOG*/
.blog_home{
    background: #D3A1A5;
    /* float: left; */
    width: 100%;
    background: url('../img/del-barrett-oo-unsplash_web.jpg');
    width: 100%;
    /* height: 408px; */
    background-size: cover;
    padding: 50px 170px; 
    color: #F2F2F2;
    h2{
        margin: 150px auto 30px auto;
    }
}
.blog h2 {
    color: #F2F2F2;  
}
.foto_blog img{
    width: 100%;
    height: 408px;
    /* float: left; */
}

.txt_blog_intro{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding: 50px;
}
.txt_blog_intro .info{
    width: 45%;
    height: auto;
}
.txt_blog_intro p{
    padding-right: 20px;
}
.video_blog{
    width: 45%;
    height: auto;
}
.latest_blog{
    padding: 20px 170px 20px 170px;
    float: left;
    width:100%;
}
.pentagon_latest{
    /* float: left; */
    margin: 10px 170px 30px 170px;
    width: 100%;
}
.pentagon_latest div{
    /* float: left; */
}
.pentagon_latest .pentagon{
    margin: 0 70px 10px 70px;
}

/*HOME_NEWSLETTER*/
.newsletter{
    width: 100%;
    background: #A8C6CB;
    padding: 20px 170px 20px 170px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.newsletter h3{
    /* width: 20%; */
    margin: 10px 0px 10px 0;
}

/*.newsletter div{
    /*width: 80%;
    margin-left: 170px;
    float: right;
}*/

.newsletter-input{
    float: right;
    width: 80%;
}

.newsletter input{
    width: 35%;
    margin: auto 13px auto 0px;
    border: none;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    height: 40px;
}

/*BOTAO SUBSCRIBE*/
#subscribe{
    background: #D3A1A5;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
    font-size: 26px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px 30px;
}

  /* mouse over link */
#subscribe:hover {
    color: #F2F2F2;
    background-color: #25717C;
}
  /* selected link */
#subscribe:active {
    color: #D3A1A5;
}

/*FOOTER*/
footer{
    width: 100%;
    background: #C8898F;
    padding: 30px 170px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

footer p{
    width: calc(70% - 170px);
    /* float: left; */
}

#social {
    list-style: none;
    /* position: relative; */
    width: calc(30% - 170px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}

#social li{
    font-size: 41px;
    /* float: left; */
    margin: 10px;
}

#social .fa{
    color: #303030;
}

#social a{
    color: #303030;
    font-size: 100%;
    transition: text-shadow 1s;
}

#social a:active,
  #social a:hover{
    color: #25717C;
    text-decoration: none;
    text-shadow: 2px 2px 12px rgba(6, 247, 235, 0.911);
  }

/*ABOUT_MAIN*/
.about{
    background: url('../img/red-and-black-indian-hut-under-star-sky-web.jpg') no-repeat;
    background-size: cover;
    /* float: left; */
    width:100%;
    /* height: 600px; */
}

/*BLOG_MAIN*/
.blog{
    background: url('../img/michael-glass-C6KCeEWjP34-web.jpg') no-repeat;
    background-size: cover;
    /* float: left; */
    width:100%;
    /* height: 600px; */
}
/*LODGES_MAIN*/
.lodges{
    background: url('../img/green-grass-and-brown-nipa-hut-web.jpg') no-repeat;
    background-size: cover;
    /* float: left; */
    width:100%;
    /* height: 600px; */
}
/*CONTACTS_MAIN*/
.contacts{
    background: url('../img/amritanshu-sikdar-CPLxv2FqVts-unsplash_web.jpg') no-repeat;
    background-size: cover;
    /* float: left; */
    width:100%;
}

/* MEDIA QUERIES A PªARTIR DE AQUI*/

@media screen and (max-width:1100px){
    /* .home{
        height: auto;
    } */
    #nav-desktop{
        display: none;
    }
    #nav-mobile{
        display: block;
        width: 100%;
    }

    #nav-mobile .fa{
        font-size: 45px;
    }

    .fa{
        float: right;
        margin: 0;
    }

    #nav-mobile .fa:link {
        color:#F2F2F2;
    }  
      /* mouse over link */
    #nav-mobile .fa:hover {
        color: #C8898F;
    }
      /* selected link */
    #nav-mobile .fa:active {
        color: #A8C6CB;
    }

    .logomob{
        /* float: left; */
        width: 100px;
        margin: 0;
    }

    #item-menu-mobile{
        padding-top: 125px;
    }
    #item-menu-mobile .fa{
        float: none;
        font-size: 35px;
    }

    #nav-mobile li{
        text-align: center;
        border-bottom: none;
        font-size: 35px;
    }

    #social_mob i{
        margin: auto 20px;
    }

    .texto_home{
        padding: 150px 70px;
    }

    .texto_home h1{
        font-size: 80px;
    }

    /*.texto_home br{
        display: none;
    }*/

    .texto_home h2{
        /*display: none;*/
        font-size: 35px;
    }

    .booking_mobile #booknow{
        font-family: 'Amaranth', sans-serif;
        font-weight: bold;
        font-size: 40px;
        width: 100%;
        background: #D3A1A5;
        /* height: 100px; */
        margin: auto;
        /* float: left; */
        padding: -100px 320px auto 320px;
        border: none;
    }

    #booknow{
        display: block;
    }

    .booking {
        margin: 0 auto 0 auto;
        display: none;
    }

    .booking_mobile{
        display: block;
    }
    .txt_about{
        font-size: 60%;
        width: 100%;
    }
    .conteudo_about{
        flex-flow: column wrap;
    }
   
    .conteudo_about img{
        width: 100%;
    }

    .txt_blog_intro{
    flex-flow: column wrap;
    }

    .txt_blog_intro .info{
        width: 100%;
    }
    
    .video_blog{
        width: 100%;
    }

    .newsletter{
        flex-flow: column wrap;
        padding: 20px 50px;
    }
    #name, #email {
        width: 100%;
        margin: 0 0 12px;
    }

    footer{
        flex-flow: column wrap;
        padding: 20px 50px;
    }

    footer p, #social{
        width: 100%;
    }
}


